.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #272728; /* Fond noir */
  padding: 20px;
  border-radius: 10px;
  color: white; /* Couleur du texte blanc */
  font-family: 'montserrat';
  align-items: center; /* Centrer verticalement */
}


.about-container .about-content {
  flex: 1;
  padding-left: 20px;
}

.about-container .about-image {
  flex: 1;
}

.about-container .about-image img {
  max-width: 100%;
  height: auto;
}

.about-container .about-content h4 {
  font-size: 2.5rem; /* Taille de police pour les grands écrans */
  color: rgb(25, 90, 70);
  font-weight: bold;
  font-family: 'montserrat';
  margin-right: 20px;
}

.about-container .about-content p {
  font-size: 1.5rem; /* Taille de police pour les grands écrans */
  font-family: 'lora';
}

.about-container .about-content ul {
  padding-left: 0;
}

.about-container .about-content li {
  color: rgb(171, 175, 169);
  list-style-type: none;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-container .about-content,
  .about-container .about-image {
    flex: none;
    width: 100%;
  }

  .about-container .about-content h1 {
    font-size: 1.5rem; /* Taille de police pour les petits écrans */
  }

  .about-container .about-content p {
    font-size: 1rem; /* Taille de police pour les petits écrans */
  }
}
